
@model Form.Models.Employees


@using Microsoft.AspNetCore.Mvc;
@{
    ViewData["Title"] = "Update";
}
<head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link href="css/style.css" rel='stylesheet' type='text/css' />
    <link href="css/style.css" rel='stylesheet' type='app.css' />
    <link href="app.css" rel='stylesheet' />
    <link href="css/fontawesome-all.css" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800"
          rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet"
          href="https://use.fontawesome.com/releases/v5.15.1/css/all.css"
          integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp"
          crossorigin="anonymous" />
    <script src="C:\Users\HP\source\repos\FormTest\FormTest\Scripts\jquery3.3.1.js"></script>
    <script src="~/js/Employee.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js" integrity="sha512-uto9mlQzrs59VwILcLiRYeLKPPbS/bT71da/OEBYEwcdNUk8jYIy+D176RYoop1Da+f9mvkYrmj5MCLZWEtQuA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css" integrity="sha512-aOG0c6nPNzGk+5zjwyJaoRUgCdOrfSDhmMID2u4+OIslr0GjpLKo7Xm0Ao3xmpM4T8AmIouRkqwj1nrdVsLKEQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="C:\Users\HP\source\repos\FormTest\FormTest\Scripts\jquery-1.12.1.min.js"></script>
</head>


<body>


    <div class="container" style="margin-top:50px">
        <div class="col-md-7 mx-auto my-auto bg-transparent">
            <div class=" col-md-11 ">
                <h1 class=" text-center">PERSONEL KAYIT</h1>
            </div>
            <form method="post">

                <div class="form-group row">
                    <label for="inputName" class="col-md-12 ">Adınız</label>
                    <div class="col-md-12">
                        <input type="text" class="form-control" id="name" name="EmployeeName" placeholder="" required="">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="inputSurname" class="col-md-12 col-form-label">Soyadınız</label>
                    <div class="col-md-12">
                        <input type="text" class="form-control" name="EmployeeSurname" id="surname">
                    </div>
                </div>

                <div class="form-group row">
                    <label for="inputSurname" class="col-md-12 col-form-label">İşe Başlangıç Tarihi</label>
                    <div class="col-md-12">
                        <input type="text" class="form-control" name="DateOfStartingJob" id="date">
                    </div>
                </div>
                <div class="row form-group">
                    <label for="inputGender" class=" col-md-12 col-form-label">Cinsiyet</label>
                    <div class="col-md-12">
                        <select id="Cinsiyet" asp-for="GenderId"  class="form-select" aria-label="Default select example">
                            <option value="" selected display>Seçiniz </option>
                        </select>
                        <span asp-validation-for="GenderId" class="text-danger"></span>
                        <span class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">


                    <div class="form-group">

                        <label for="inputCountry" class="col-md-3 col-form-label">Ülke</label>
                        <select id="Ulke"  asp-for="CountryId" onchange="Sehirler()" class="form-select" aria-label="Default select example">
                          

                                <option value="" selected display>Seçiniz</option>

                            </select>
                            <span asp-validation-for="CountryId" class="text-danger"></span>
</div>


                    <div class="form-group">
                        <label class="control-label"> Şehir:</label>

                        <select id="Sehir" asp-for="CityId" class="form-select" aria-label="Default select example">

                            <option value="" selected display>Seçiniz</option>


                        </select>
                        <span asp-validation-for="CityId" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="inputAdress" class="col-md-12 col-form-label">Adres</label>
                    <div class="col-md-12">
                        <input type="text" class="form-control" name="EmployeeAdress" id="adress" style="height:100px">
                    </div>
                </div>


                <div class="form-group row  col-md-12">
                    <input id="uptade" type="button" value="Güncelle" onclick="updateKayit()" class="btn btn-dark" /> 
                </div> 
            </form>
        </div>
    </div>

     
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js" integrity="sha512-uto9mlQzrs59VwILcLiRYeLKPPbS/bT71da/OEBYEwcdNUk8jYIy+D176RYoop1Da+f9mvkYrmj5MCLZWEtQuA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css" integrity="sha512-aOG0c6nPNzGk+5zjwyJaoRUgCdOrfSDhmMID2u4+OIslr0GjpLKo7Xm0Ao3xmpM4T8AmIouRkqwj1nrdVsLKEQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/js/Update.js"></script>